@page
@model DotNetTest.Pages.Contacts.IndexNotLoggedModel
@{
}

<br>
<h2>List of Contacts: @Model.ContactsList.Count</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Last name</th>
            <th>Phone number</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ContactsList)
        {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.LastName</td>
                    <td>@item.PhoneNumber</td>
                </tr>        
        }
    </tbody>
</table>
    <div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Exit</a>
        </div>
    </div>
