@page
@model DotNetTest.Pages.Contacts.IndexModel
@{                      //Strona główna dla katalogu Contacts
}                   

<br>
<h2>List of Contacts: @Model.ContactsList.Count</h2>
<a class='btn btn-primary btn-sm' href='/Contacts/Create'>New Contact</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>             
            <th>Name</th>
            <th>Last name</th>
            <th>Phone number</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.ContactsList)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.LastName</td>
                <td>@item.PhoneNumber</td>
                <td>
                    <a class ="btn btn-primary btn-sm" href="/Contacts/Edit?id=@item.Id">Edit</a>
                    <a class ="btn btn-danger btn-sm" href="/Contacts/Delete?id=@item.Id">Delete</a>

                </td>
            </tr>        
        }
    </tbody>
</table>
<div>
    <div class="col-sm-3 d-grid">
        <a class="btn btn-outline-primary" href="/IndexLoggedIn" role="button">Exit</a>
    </div>
</div>
